/*Shared Style*/
:root {
  --focus-blue: #85e4ff;
}

body.shared {
  font-family: "Neue Helvetica", Helvetica, Arial, sans-serif;
  background-color: black;
  color: white;
}
.shared h1,
.shared h2 {
  font-family: "Times New Roman", Times, serif;
}
.shared a {
  color: white;
}

.shared .icon-lg svg {
  width: 4em;
  height: 4em;
}
/*End of Shared Style*/

/*Front Page*/
.front {
  margin: 6%;
  min-height: 70vh;
  background-size: 100% auto; /* Ensures the image covers the whole area */
  background-position: center bottom; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-attachment: fixed; /* Keeps the image fixed when scrolling */
}
.front .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.front h1 {
  font-size: 2.4em;
  margin-top: 5px;
}
.front p {
  font-size: 1em;
}
.front-icons {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 40px;
  margin-top: 40px;
}
.front-icons > a {
  display: inline-flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center align the icon and text */
  text-align: center; /* Center the text */
  margin-right: 60px; /* Add some spacing between the anchor tags */
  margin-bottom: 60px;
  text-decoration: none; /* Remove underline for links */
}
.front-icons span {
  text-decoration: underline;
}
.front-icons i {
  margin-bottom: 10px;
}
.front-icons i:hover {
  cursor: pointer;
}
.front-author {
  bottom: 5%;
}
@media screen and (max-width: 810px) {
  .front h1 {
    padding-top: 0;
    font-size: 4em;
  }
}
@media screen and (max-width: 657px) {
  .front h1 {
    margin-top: 0;
    font-size: 3em;
  }
  .front h2 {
    font-size: 1.6em;
  }
  .front p {
    font-size: 1em;
  }
}
.front .attribution {
  color: #cccccc;
  font-size: 0.8em;
  position: absolute;
}
.front .attribution a {
  color: #cccccc;
}
.front a:hover {
  outline: 1px solid var(--focus-blue, #85e4ff);
  outline-offset: 2px;
}
.front a:focus {
  outline: 1px solid var(--focus-blue, #85e4ff);
  outline-offset: 2px;
}
/*End of Front Page*/

/*Beginning of Map Page*/
.map-page {
  margin: 20px;
}
.map-page header {
  text-align: center;
}
.map-page main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.map-page iframe {
  width: 100%;
  height: 86vh;
}
#gp-map iframe {
  width: 90%;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .map-page main {
    flex-direction: row;
    justify-content: space-between;
  }
  #gp-map iframe {
    width: 49%;
  }
  iframe.map-left {
    align-self: left;
  }
  iframe.map-right {
    align-self: right;
  }
}

/*End of Map Page*/
